<nav>
    <ul>
        <img class="logo" src="/_img/1.1.png" alt="logo">
        <li><a href="/">Início</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/admin">Login</a></li>
        <li><a href="/admin/create">Cadastra-se</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <img class="logo" src="/_img/1.1.png" alt="logo">
    </ul>
</nav>